### Orders Analysis

Before performing any analysis, it is critical to perform basic validations against the dataset.

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import jinja2 as jnj

Now that we have imported our packages let's lead python to the .csv file we will be using

In [17]:
file_path = '/Users/markhinojosa/coffee-shop/Raw Data/ORDERS.csv'

Now that we have the filepath, let's create our dataframe.

In [19]:
df = pd.read_csv(file_path)

Now that we have loaded the data, let's sample

In [24]:
df

          Order ID  Order Date     Customer ID Product ID  Quantity
0    QEV-37451-860  2019-09-05  17670-51384-MA      R-M-1         2
1    QEV-37451-860  2019-09-05  17670-51384-MA    E-M-0.5         5
2    FAA-43335-268  2021-06-17  21125-22134-PX      A-L-1         1
3    KAC-83089-793  2021-07-15  23806-46781-OU      E-M-1         2
4    KAC-83089-793  2021-07-15  23806-46781-OU    R-L-2.5         2
..             ...         ...             ...        ...       ...
995  RLM-96511-467  2020-01-06  43014-53743-XK    R-L-2.5         1
996  AEZ-13242-456  2022-05-04  62494-09113-RP    R-M-0.5         5
997  UME-75640-698  2019-10-11  62494-09113-RP    A-M-0.5         4
998  GJC-66474-557  2021-08-03  64965-78386-MY      A-D-1         1
999  IRV-20769-219  2020-10-15  77131-58092-GE    E-M-0.2         3

[1000 rows x 5 columns]

In [23]:
df.dtypes

Order ID       object
Order Date     object
Customer ID    object
Product ID     object
Quantity        int64
dtype: object

It looks like we have to convert the order date into a datetime type.

In [28]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

Let's verify!

In [29]:
df.dtypes

Order ID               object
Order Date     datetime64[ns]
Customer ID            object
Product ID             object
Quantity                int64
dtype: object