### Pandas Playground

We will start by loading the necessary libraries we will be using.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import jinja2 as jnj

Now that we have imported our libraries let's lead python to the .csv files we will be using <br>
Notice that we are creating variables for each of the pathways, this makes it easy to call later.

In [2]:
orders = '/Users/markhinojosa/coffee-shop/Raw Data/ORDERS.csv'
products = '/Users/markhinojosa/coffee-shop/Raw Data/PRODUCTS.csv'
customers = '/Users/markhinojosa/coffee-shop/Raw Data/CUSTOMERS.csv'

We have our filepaths variables ready to go, let's feed through Pandas to create our Dataframes.<br>
[Learn More About Dataframes](https://realpython.com/pandas-dataframe/#:~:text=The%20pandas%20DataFrame%20is%20a,with%20in%20Excel%20or%20Calc.)

In [3]:
ordersDF = pd.read_csv(orders)
productsDF = pd.read_csv(products)
customersDF = pd.read_csv(customers)

#### Data Population Validation
Our data has been loaded, but let's verify that is is populating correctly.

The .head() module will pull the top nth rows but the data set. <br>
The .head() module can be populated as .head(20) to determine the sample size of data you want to pull. <br>
If left empty the default value is 5 rows.

In [47]:
ordersDF.head()

        Order ID Order Date     Customer ID Product ID  Quantity
0  QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2

Similar to .head() -- .tail() grabs the bottom nth rows from a dataframe.

In [48]:
productsDF.tail()

,Product ID,Coffee Type,Roast Type,Size,Unit Price,Price per 100g,Profit
43,E-M-2.5,Exc,M,2.5,31.625,1.2650,3.47875
44,E-D-0.2,Exc,D,0.2,3.645,1.8225,0.40095
45,E-D-0.5,Exc,D,0.5,7.290,1.4580,0.80190
46,E-D-1,Exc,D,1.0,12.150,1.2150,1.33650
47,E-D-2.5,Exc,D,2.5,27.945,1.1178,3.07395

The .sample() module behaves differently in that it will surface randomly selected rows from the dataframe. <br>
It also allows for variable input

In [49]:
customersDF.sample(5)

,Customer ID,Customer Name,Email,Phone Number,Address Line 1,City,Country,Postcode,Loyalty Card
233,89208-74646-UK,Beryle Kenwell,bkenwell6h@over-blog.com,+1 (808) 836-6023,62 Dayton Drive,Honolulu,United States,96825,No
510,64439-27325-LG,Camellia Kid,ckide6@narod.ru,+353 (866) 707-2603,37515 Wayridge Lane,Whitegate,Ireland,D15,Yes
369,60799-92593-CX,Abba Pummell,NaN,NaN,3 Service Pass,Las Vegas,United States,89115,Yes
65,14204-14186-LA,Angelia Cockrem,acockrem1t@engadget.com,+1 (571) 316-8217,1 Sherman Alley,Vienna,United States,22184,Yes
385,68810-07329-EU,Virgil Baumadier,vbaumadierap@google.cn,+1 (816) 987-4857,89508 Atwood Way,Kansas City,United States,64125,Yes

#### Validating Data Types
We know that we have the right data but we need to ensure that the data we will be analysing is cast correcrtly. <br>
the '.dtype' module helps with this.

In [7]:
ordersDF.dtypes

Order ID       object
Order Date     object
Customer ID    object
Product ID     object
Quantity        int64
dtype: object

In [8]:
customersDF.dtypes

Customer ID       object
Customer Name     object
Email             object
Phone Number      object
Address Line 1    object
City              object
Country           object
Postcode          object
Loyalty Card      object
dtype: object

In [9]:
ordersDF.dtypes

Order ID       object
Order Date     object
Customer ID    object
Product ID     object
Quantity        int64
dtype: object

In ordersDF it looks like we have to convert 'Order Date' into a datetime type.

In [10]:
ordersDF['Order Date'] = pd.to_datetime(ordersDF['Order Date'])

^^ Notice that above we used this syntax [DF Object].[DF Column Name] <br>
We will use this syntax quite a bit in our analysis

Let's call the .dtypes module once again to verify the change.

In [11]:
ordersDF.dtypes

Order ID               object
Order Date     datetime64[ns]
Customer ID            object
Product ID             object
Quantity                int64
dtype: object

It looks like the change took.

The .info() module gives a very high level summary of your dataframe similar, to .dtypes but will give a report of non-null values and aggregates type count and memory usage.

In [28]:
ordersDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     1000 non-null   object
 1   Order Date   1000 non-null   datetime64[ns]
 2   Customer ID  1000 non-null   object
 3   Product ID   1000 non-null   object
 4   Quantity     1000 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 39.2+ KB

The .describe() module is great for a quick calculation of a given value to the rest of the data set.

In [41]:
ordersDF.describe()

                Order Date     Quantity
count                 1000  1000.000000
mean   2020-11-06 21:07:12     3.551000
min    2019-01-02 00:00:00     1.000000
25%    2019-12-17 00:00:00     2.000000
50%    2020-12-02 12:00:00     4.000000
75%    2021-10-02 06:00:00     5.000000
max    2022-08-19 00:00:00     6.000000
std                    NaN     1.681733

#### Selecting Rows and Columns
We may not need all of the data within a dataframe so let's look at the different ways to select specific data.

Below is the syntax for selecting a single column

In [12]:
ordersDF['Order ID']

0      QEV-37451-860
1      QEV-37451-860
2      FAA-43335-268
3      KAC-83089-793
4      KAC-83089-793
           ...
995    RLM-96511-467
996    AEZ-13242-456
997    UME-75640-698
998    GJC-66474-557
999    IRV-20769-219
Name: Order ID, Length: 1000, dtype: object

Here is example of selecting multiple columns, notice the bracket syntax.

In [13]:
ordersDF[['Order ID', 'Quantity']]

          Order ID  Quantity
0    QEV-37451-860         2
1    QEV-37451-860         5
2    FAA-43335-268         1
3    KAC-83089-793         2
4    KAC-83089-793         2
..             ...       ...
995  RLM-96511-467         1
996  AEZ-13242-456         5
997  UME-75640-698         4
998  GJC-66474-557         1
999  IRV-20769-219         3

[1000 rows x 2 columns]

Below is an example of selecting specific rows. <br> 
Note that pandas will assign a row index when you load in a data frame. <br>
The : symbol acts as 'between' and in the below snippet we are calling rows between 1 and 10

In [14]:
ordersDF[1 : 10]

        Order ID Order Date     Customer ID Product ID  Quantity
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2
5  CVP-18956-553 2021-08-04  86561-91660-RB      L-D-1         3
6  IPP-31994-879 2022-01-21  65223-29612-CB    E-D-0.5         3
7  SNZ-65340-705 2022-05-20  21134-81676-FR    L-L-0.2         1
8  EZT-46571-659 2019-01-02  03396-68805-ZC    R-M-0.5         3
9  NWQ-70061-912 2019-09-05  61021-27840-ZN    R-M-0.5         1

#### Filtering
Below are method for filters data with Pandas <br>
In the example below we are surfacing rows where the order quantity was greater than 5 <br>
##### Note I am only using the .head module to limit to return results and it not a part of the filtering syntax.

In [15]:
ordersDF[ordersDF['Quantity'] > 5].head()

         Order ID Order Date     Customer ID Product ID  Quantity
16  VAU-44387-624 2019-03-20  99643-51048-IQ    A-M-0.2         6
17  RDW-33155-159 2019-10-19  62173-15287-CU      A-L-1         6
21  NUO-20013-488 2020-12-04  03090-88267-BQ    A-D-0.2         6
31  WOQ-36015-429 2021-09-25  51427-89175-QJ    A-D-0.5         6
32  WOQ-36015-429 2021-09-25  51427-89175-QJ    L-M-0.5         6

Because we converted 'Order Date' to datetime earlier we can now filter for dates as well

In [16]:
ordersDF[ordersDF['Order Date'] > '2022-01-01'].head()

         Order ID Order Date     Customer ID Product ID  Quantity
6   IPP-31994-879 2022-01-21  65223-29612-CB    E-D-0.5         3
7   SNZ-65340-705 2022-05-20  21134-81676-FR    L-L-0.2         1
12  SZW-48378-399 2022-07-02  34136-36674-OM      R-M-1         5
14  GNZ-46006-527 2022-04-05  95875-73336-RG    L-D-0.2         3
15  FYQ-78248-319 2022-06-07  25473-43727-BY    R-M-2.5         5

Below is an example of how a column can be selected and then filtered. <br>
Looking for orders after 2022-01-01

In [17]:
ordersDF['Order Date'][ordersDF['Order Date'] > '2022-01-01'].head()

6    2022-01-21
7    2022-05-20
12   2022-07-02
14   2022-04-05
15   2022-06-07
Name: Order Date, dtype: datetime64[ns]

Same as above but with multiple columns selected and then filtered. <br>
Looking for Orders quantity greater than 4

In [18]:
ordersDF[['Order ID', 'Quantity', 'Customer ID']][ordersDF['Quantity'] > 4].head()

         Order ID  Quantity     Customer ID
1   QEV-37451-860         5  17670-51384-MA
11  VQR-01002-970         5  49315-21985-BB
12  SZW-48378-399         5  34136-36674-OM
15  FYQ-78248-319         5  25473-43727-BY
16  VAU-44387-624         6  99643-51048-IQ

Below is an example of how we search for a specific value. <br>
Looking for orders that had a Product ID of 'E-D-0.5'

In [19]:
ordersDF[ordersDF['Product ID']=='E-D-0.5'].head()

          Order ID Order Date     Customer ID Product ID  Quantity
6    IPP-31994-879 2022-01-21  65223-29612-CB    E-D-0.5         3
118  RFH-64349-897 2019-10-22  61954-61462-RJ    E-D-0.5         3
131  VDZ-76673-968 2020-12-31  82246-82543-DW    E-D-0.5         2
162  CBT-55781-720 2021-11-15  97855-54761-IS    E-D-0.5         3
164  BYU-58154-603 2020-12-17  51971-70393-QM    E-D-0.5         4

#### Aggregation Modules

There are some nifty quick aggreagations we can do against our data to understand it more.

The below syntax selects the Order ID columns, filters to having Quantity greater than 5, and returns the count of rows that meet the criteria <br>
The .count() modules returns the number of rows meeting any criteria; returns all if no criteria is provided.

In [20]:
ordersDF['Order ID'][ordersDF['Quantity'] > 5].count()

175

The below syntax returns a count of every row for each column.

In [21]:
ordersDF.count()

Order ID       1000
Order Date     1000
Customer ID    1000
Product ID     1000
Quantity       1000
dtype: int64

The two statments above can be used in calculations as well. Below is example of extracting the percentage of orders that had a quantiy greater than 5.

In [22]:
ordersDF['Order ID'][ordersDF['Quantity'] > 5].count() / ordersDF['Order ID'].count()

0.175

The .sum() module can be used on INT data types to return the sum values.

In [23]:
ordersDF['Quantity'].sum()

3551

#### Null Values
The below methods are used to understand NaN (Null values) presented in your data.

The .isnull() module when used will return the table will BOOLEAN values depending on whether NaN is present.

In [24]:
customersDF.isnull()

,Customer ID,Customer Name,Email,Phone Number,Address Line 1,City,Country,Postcode,Loyalty Card
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False
996,False,False,True,False,False,False,False,False,False
997,False,False,True,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False
999,False,False,True,False,False,False,False,False,False

If you want to check if any values are null against a dataframe the .value.any() module can be called.

In [25]:
customersDF.isnull().values.any()

True

^^ We can see that in customersDF there are NaN values that exist. <br>

We can chain the .sum() module to .isnull() to count the number of null values for each column

In [26]:
customersDF.isnull().sum()

Customer ID         0
Customer Name       0
Email             204
Phone Number      130
Address Line 1      0
City                0
Country             0
Postcode            0
Loyalty Card        0
dtype: int64

Further we can do calculations to get the NaN percentage.

In [27]:
customersDF.isnull().sum() / customersDF.count()

Customer ID       0.000000
Customer Name     0.000000
Email             0.256281
Phone Number      0.149425
Address Line 1    0.000000
City              0.000000
Country           0.000000
Postcode          0.000000
Loyalty Card      0.000000
dtype: float64